{% extends "base.html.twig" %}
{% block classpage %}music-discography{% endblock %}
{% block title %}Artists{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>Artists</h1>
        </div>
    </section>
    <section id="discography">
        <div class="row">
            {% if artists|length %}
                {% for artist in artists %}
                    <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="w-100 discography_banner">
                            <div class="music-banner-image" style="height: 594.328px;">
                                <img src="{{asset(artist.getThumbnailArtist)}}" alt="">
                            </div>
                            <div class="music-banner-text">
                                <h2>{{artist.name}}</h2>
                                <!-- <p>Jazz Music</p> -->
                            </div>
                            <a href="{{path('artists_show', {'id':artist.id})}}" class="music-banner-link"></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
    </script>
{% endblock %}
