{% extends "base.html.twig" %}
{% block classpage %}music-discography{% endblock %}
{% block title %}About{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>About</h1>
        </div>
    </section>
    <section id="blog-post">
        <div class="section">
            <div class="row blog-content">
                <div class="col post-content">
                    <div class="featured-image">
                        <img src="{{asset('bundles/app/images/jed-villejo-647968-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="post-text">
                        <div class="post-heading">
                            <h2>YOU ARE WHAT YOU LISTEN TO</h2>
                        </div>
                        <p>
                            This is Photoshop's version now we’s of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi eiilit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris. Morbi accumsans ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti have a great is the best sociosqu ad litora torquent per conubia
                            nostra.
                        </p>
                        <p class="post-quote">
                            Exercitation photo booths stumptowns totes bag Banksy, elit small batch bit kale chips proident chillwave have a great work deep haves laborum. Exercitation photo booths stumptowns totes bag Banksy, elit small batch bit kale chips proident chillwave
                            have a great work.
                        </p>
                        <p>
                            Proins gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagitgitis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
                            nec terzllus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti Duis aute irure dolor in reprehenderit in voluptate velit. Qui officia deserunt mollit anim id est labosasirum. Corrupti
                            quosalores et quas molestias excepturi sint occaecati. Facere possimus, omnis voluptas assumenda have esOmnis dolor repellendus. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis.Et harum quidem the odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque.sociosqu ad litora torquent per conubia nostra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script></script>
{% endblock %}
