{% extends "base.html.twig" %}
{% block title %}Releases{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>Releases</h1>
        </div>
    </section>
    <section id="discography">
        <div class="row">
            {% if albums|length %}
                {% for album in albums %}
                    <div class="w-100 col-sm-6 col-md-4 col-lg-3 wow fadeInUp">
                        <div class="w-100 discography_banner">
                            <div class="music-banner-image" style="height: 594.328px;">
                                <img src="{{asset(album.getThumbnail)}}" alt="">
                            </div>
                            <div class="music-banner-text">
                                <h2>{{album.name}}</h2>
                                <p>Jazz Music</p>
                            </div>
                            <a href="{{path('release_show', {'id':album.id})}}" class="music-banner-link"></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
    </script>
{% endblock %}
